doctype
html
	head
		meta(charset='utf-8')
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		title The Css Club
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css", rel="stylesheet")
		link(href="css/style.css", rel="stylesheet")
		script(src="https://code.jquery.com/jquery-1.11.3.js")
		script(src="js/functions.js")
	body
		.wrap
			.header.container-fluid
				.header__container.container
					.row
						img.logo(src="img/logo.svg")
						h1 Orale: Mijo;
			.main.container
				.main__container.row
					.ruleset-block.ruleset-block--1
						.ruleset-block__header
							h2.title
								| .Regla1<br>{<span>hablamos: css;</span>}
							p
								| Cada 15 días nos reunimos en <a href="htto://www.ctinmx.com" target="_blank">CTIN</a> a hacer maquetación/frontend en vivo. Aprendemos y compartmos técnicas juntos y celebramos hacer código de forma colaborativa.
							p El objetivo es aprender y sumar en los proyectos que necesiten frontend y/ó maquetación en <a href="htto://www.ctinmx.com" target="_blank">CTIN</a>.
					.ruleset-block.ruleset-block--2
						.ruleset-block__header
							h2.title
								| .Regla2<br>{<span>ul: dinamicas;</span>}
							p Las dinámicas que usamos para las sesiones son las siguientes:
						.ruleset-block__dynamics
							.dynamic.dynamic--1
								h3.title .battleRoyale
								p Dos equipos maquetando el mismo proyecto. La maqueta mejor elaborada dentro del límite de tiempo se lleva pizza y refrescos para todos los integrantes del equipo además del respeto de Tyler Durden.
							.dynamic.dynamic--2
								h3.title .scarFace
								p Dos personas frente a frente maquetando el mismo proyecto con un equipo de apoyo cada uno. La maqueta mejor elaborada dentro del límite de tiempo se lleva pizza y refrescos para todos los integrantes del equipo además de una salida al cine con Tyler Durden.
							.dynamic.dynamic--3
								h3.title .swordFish
								p Una persona maquetando un proyeco con un límite de 45 mínutos en voz alta y con preguntas en vivo de nuestro fíno y respetado público. Los ganadores somos todos y Tylor Durden picha las pizzas.
							.dynamic.dynamic--4
								h3.title .angelFace
								p De vez en cuando una persona externa al club nos acompaña con un ejercicio didáctico relacionado a frontend/maquetación. Los ganadores somos todos y Tylor Durden se pone guapo con las pizzas.
					.ruleset-block.ruleset-block--3
						.ruleset-block__header
							h2.title
								| .Regla3<br>{<span>compartir: *;</span>}
							p
								| El cupo es limitado y las dínamicas se anuncian en el grupo oficial de CTIN y en el grupo del club. Almacenamos todo el código de las sesiones en vivo en nuestro <a href="https://github.com/thecssclub" target="_blank">repositiorio en github</a>.
			.footer.container
				.footer__container.row
					.colophon
						img.ctin-logo(src="img/ctin-logo.svg")
						h4 Hecho en CTIN
						h4 2016 · Centro de Tecnología e Innovación