* {
  box-sizing: border-box; }

.navigation-bar {
  background-color: #f8f8f8;
  border-bottom: 1px solid #b2b2b2;
  padding: 1rem;
  font-size: 1rem;
  display: table;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; }

.navigation-bar__primary {
  display: table-cell;
  width: 25%;
  text-align: left; }

.navigation-bar__title {
  display: table-cell;
  width: 50%;
  text-align: center;
  font-weight: 500; }

.navigation-bar__secondary {
  display: table-cell;
  width: 25%;
  text-align: right; }

.c-search-bar {
  background-color: #ddd;
  padding: 0.3rem; }
  .c-search-bar input {
    width: 100%;
    border: none;
    border-bottom: solid 1px #ddd;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    outline: 0; }

.m-home-map {
  position: absolute;
  top: 57px;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url("../img/mapa.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.m-home-map__link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }

.m-home-greet {
  padding: 2rem 1.2rem;
  text-align: center; }

.m-home-greet__avatar {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  margin: 0rem 0 1rem 0;
  background-position: center center;
  background-repeat: no-repeat; }

.m-home-greet__title h1 {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.4; }

.m-home-launcher__item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 22vh;
  background-color: #f8f8f8;
  border: 1px solid #fff; }

.menu {
  position: fixed;
  top: 57px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 90;
  display: none; }

.menu__wrap {
  width: 80%;
  height: 100%;
  background-color: #fff;
  padding: 2rem; }

.menu__header {
  margin: 0 0 2rem 0; }

.menu__header__name {
  font-size: 1rem;
  font-weight: 500; }

.menu__header__category {
  font-size: 0.9rem;
  color: #999; }

.menu-list-group {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.menu-list-group__item {
  line-height: 2.4; }

.content {
  margin-top: 57px; }

.list-group {
  border: 0;
  border-radius: 0; }

.list-group-item {
  border: 0;
  margin-bottom: 0;
  border-radius: 0px !important;
  padding: 0;
  border-bottom: 1px solid #ddd; }
  .list-group-item a {
    display: block;
    padding: 1.2rem;
    width: 100%;
    height: 100%;
    color: #333; }
    .list-group-item a:active {
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.1); }

.list-group-item-heading {
  font-size: 1rem; }

.list-group-item-text {
  font-size: 0.9rem;
  color: #999;
  line-height: 1.4; }

.list-group-item-text__type {
  margin-right: 0.3rem; }

.grid-group {
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  margin: 0; }

.grid-group-item {
  float: left;
  width: 50%;
  border-right: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  text-align: center;
  line-height: 2; }
  .grid-group-item a {
    display: block;
    padding: 4rem 2rem;
    width: 100%;
    height: 100%;
    color: #333; }
    .grid-group-item a:active {
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.1); }

.grid-group-item-heading {
  font-size: 1rem;
  margin: 0; }

.grid-group-item-text {
  font-size: 0.9rem;
  color: #999;
  margin: 0; }

.m-detail {
  overflow: hidden; }

.m-detail__profile {
  padding: 1.2rem;
  text-align: center; }

.m-detail__profile__avatar {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  margin: 0rem 0 1rem 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.m-detail__profile__name {
  font-size: 1rem;
  font-weight: 500; }

.m-detail__profile__category {
  font-size: 0.9rem;
  color: #999; }

.m-detail__profile__followers {
  font-size: 0.9rem;
  color: #999; }

.m-detail__profile__follow {
  margin: 1rem 0; }

.m-detail__description {
  border-top: 1px solid #ddd;
  padding: 1.2rem;
  font-size: 0.9rem; }

.m-detail__description__heading {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem; }

.m-detail__description__text {
  font-size: 0.9rem;
  color: #666; }
  .m-detail__description__text:last-of-type {
    margin: 0; }

.m-detail__list-group {
  list-style-type: none;
  padding: 0;
  margin: 1.2rem 1.2rem 2.4rem 1.2rem;
  border: 1px solid #ddd;
  border-radius: 3px; }

.m-detail__list-group__item {
  border-bottom: 1px solid #ddd; }
  .m-detail__list-group__item:last-of-type {
    border-bottom: 0; }
  .m-detail__list-group__item a {
    display: table;
    padding: 1rem;
    width: 100%;
    height: 100%;
    color: #333; }
    .m-detail__list-group__item a:active {
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.1); }
  .m-detail__list-group__item i.fa {
    display: table-cell;
    vertical-align: middle;
    color: #999; }

.m-detail__list-group__item__heading {
  font-size: 1; }

.m-detail__list-group__item__text {
  font-size: 0.9rem;
  color: #999;
  line-height: 1.4; }

.m-detail__offer {
  padding: 2.4rem 1.2rem;
  text-align: center; }

.m-detail__offer__name {
  font-size: 1rem;
  font-weight: 500; }

.m-detail__offer__asc {
  font-size: 0.9rem;
  color: #999; }

.m-detail__offer__location {
  font-size: 0.9rem;
  color: #999; }

.m-detail__profile__apply {
  margin: 1rem 0; }

.m-detail__data {
  padding: 1.2rem;
  border-top: 1px solid #ddd;
  font-size: 0.9rem; }
  .m-detail__data span.emphasis {
    color: #999; }

.m-detail__offer__time {
  color: #666; }

.m-detail__offer__type {
  color: #666; }

.m-detail__offer__date {
  color: #666; }

.m-detail__offer__hours {
  color: #666; }

.m-detail__offer__req {
  color: #666; }
