@import url(https://fonts.googleapis.com/css?family=Hind+Siliguri:400,600,500,700,300|Archivo+Black);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,500);
/* line 2, ../sass/_init.sass */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/_type.sass */
html {
  font-size: 112.5%;
}
@media (min-width: 544px) {
  /* line 6, ../sass/_type.sass */
  html {
    font-size: 112.5%;
  }
}
@media (min-width: 768px) {
  /* line 6, ../sass/_type.sass */
  html {
    font-size: 125%;
  }
}
@media (min-width: 1200px) {
  /* line 6, ../sass/_type.sass */
  html {
    font-size: 137.5%;
  }
}

/* line 15, ../sass/_type.sass */
body {
  font-family: "Roboto", serif;
  font-weight: 400;
  color: #333;
  line-height: 1.5;
  color: #111;
  -webkit-font-smoothing: antialiased;
}

/* line 23, ../sass/_type.sass */
p {
  margin: 0 0 1rem 0;
}

/* line 26, ../sass/_type.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", helvetica, arial, sans-serif;
  font-weight: 300;
  margin: 0 0 0.7rem 0;
  padding: 0;
  clear: both;
  vertical-align: middle;
}

/* line 34, ../sass/_type.sass */
h1 {
  font-size: 2.074rem;
}

/* line 37, ../sass/_type.sass */
h2 {
  font-size: 1.728rem;
}

/* line 40, ../sass/_type.sass */
h3 {
  font-size: 1.44rem;
}

/* line 43, ../sass/_type.sass */
h4 {
  font-size: 1.2rem;
}

/* line 46, ../sass/_type.sass */
h5 {
  font-size: 1rem;
}

/* line 2, ../sass/_grid.sass */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
}

/* line 4, ../sass/_grid.sass */
.col-1 {
  width: 8.33333%;
}

/* line 6, ../sass/_grid.sass */
.col-2 {
  width: 16.66667%;
}

/* line 8, ../sass/_grid.sass */
.col-3 {
  width: 25%;
}

/* line 10, ../sass/_grid.sass */
.col-4 {
  width: 33.33333%;
}

/* line 12, ../sass/_grid.sass */
.col-5 {
  width: 41.66667%;
}

/* line 14, ../sass/_grid.sass */
.col-6 {
  width: 50%;
}

/* line 16, ../sass/_grid.sass */
.col-7 {
  width: 58.33333%;
}

/* line 18, ../sass/_grid.sass */
.col-8 {
  width: 66.66667%;
}

/* line 20, ../sass/_grid.sass */
.col-9 {
  width: 75%;
}

/* line 22, ../sass/_grid.sass */
.col-10 {
  width: 83.33333%;
}

/* line 24, ../sass/_grid.sass */
.col-11 {
  width: 91.66667%;
}

/* line 26, ../sass/_grid.sass */
.col-12 {
  width: 100%;
}

@media (max-width: 544px) {
  /* line 29, ../sass/_grid.sass */
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    width: 100%;
  }
}

/* line 25, ../sass/style.sass */
.container {
  margin: 0 auto;
  padding: 1.5rem 1rem;
}
@media screen and (min-width: 544px) {
  /* line 25, ../sass/style.sass */
  .container {
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  /* line 25, ../sass/style.sass */
  .container {
    width: 80%;
  }
}
@media screen and (min-width: 992px) {
  /* line 25, ../sass/style.sass */
  .container {
    width: 80%;
  }
}
@media screen and (min-width: 1200px) {
  /* line 25, ../sass/style.sass */
  .container {
    width: 992px;
  }
}
/* line 36, ../sass/style.sass */
.container:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 43, ../sass/style.sass */
.container-map {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
@media screen and (min-width: 544px) {
  /* line 43, ../sass/style.sass */
  .container-map {
    width: 768px;
  }
}
/* line 49, ../sass/style.sass */
.container-map:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 61, ../sass/style.sass */
.cover {
  background-image: url(../img/cover-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
}

/* line 68, ../sass/style.sass */
.cover__head:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 74, ../sass/style.sass */
.cover__head__logo {
  width: 50%;
  float: left;
}
@media screen and (max-width: 544px) {
  /* line 74, ../sass/style.sass */
  .cover__head__logo {
    float: none;
    width: 100%;
    text-align: center;
  }
}

/* line 81, ../sass/style.sass */
.cover__head__logo__img {
  width: 55px;
}

/* line 83, ../sass/style.sass */
.cover__head__menu {
  width: 50%;
  float: left;
}
@media screen and (max-width: 544px) {
  /* line 83, ../sass/style.sass */
  .cover__head__menu {
    display: none;
  }
}
/* line 88, ../sass/style.sass */
.cover__head__menu ul {
  list-style-type: none;
}
/* line 90, ../sass/style.sass */
.cover__head__menu ul li {
  float: right;
  margin: 0.7rem 0 0 1rem;
}

/* line 93, ../sass/style.sass */
.cover__body {
  padding: 4rem 0;
}

/* line 95, ../sass/style.sass */
.cover__body__copy {
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  /* line 95, ../sass/style.sass */
  .cover__body__copy {
    width: 75%;
  }
}
/* line 101, ../sass/style.sass */
.cover__body__copy h1 {
  font-size: 1.8rem;
}
/* line 103, ../sass/style.sass */
.cover__body__copy p {
  font-size: 1rem;
  font-weight: 300;
  opacity: 0.7;
}
/* line 107, ../sass/style.sass */
.cover__body__copy .main-action {
  display: inline-block;
  margin: 1rem auto 0 auto;
  padding: 0.8rem 1.6rem;
  border-radius: 4rem;
  background-color: #fff;
  color: #16121f;
  text-decoration: none;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}
/* line 117, ../sass/style.sass */
.cover__body__copy .main-action:hover {
  text-decoration: none;
  transform: scale(1.04, 1.04);
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  color: #16121f;
  background-color: #c2d33c;
  color: #fff;
}

/* line 125, ../sass/style.sass */
.cover__details {
  text-align: center;
}

/* line 127, ../sass/style.sass */
.cover__details__more {
  display: inline-block;
  font-size: 0.9rem;
}

/* line 143, ../sass/style.sass */
.content__block--about {
  padding: 2rem 0 0 0;
}

/* line 147, ../sass/style.sass */
.content__block--routes {
  padding: 0;
  text-align: center;
}

/* line 150, ../sass/style.sass */
.content__block--routes__tab {
  display: inline-block;
  margin: 0 0 2rem 0;
  border-radius: 0.2rem;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 100;
  border: solid 1px #245be7;
}
/* line 158, ../sass/style.sass */
.content__block--routes__tab a {
  display: inline-block;
  padding: 0.5rem 1.2rem;
  transition: all 0.1s ease;
  text-decoration: none;
  color: #245be7;
  border-right: 1px solid #245be7;
}
/* line 165, ../sass/style.sass */
.content__block--routes__tab a:last-child {
  border-right: none;
}
/* line 167, ../sass/style.sass */
.content__block--routes__tab a:hover {
  background-color: #4297ff;
  color: #fff;
}
/* line 170, ../sass/style.sass */
.content__block--routes__tab a.selected {
  background-color: #245be7;
  color: #fff;
}
/* line 173, ../sass/style.sass */
.content__block--routes__tab a.selected:hover {
  background-color: #4297ff;
  color: #fff;
}

/* line 176, ../sass/style.sass */
.content__block--routes__map {
  overflow: hidden;
  position: relative;
}

/* line 180, ../sass/style.sass */
.content__block--routes__map__controls {
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

/* line 189, ../sass/style.sass */
.content__block--routes__map__controls__origin {
  font-size: 0.75rem;
  margin: 0;
  padding: 0.75rem;
  border: none;
  border-right: 1px solid #ddd;
  display: block;
  width: 40%;
  float: left;
  outline: 0;
}

/* line 199, ../sass/style.sass */
.content__block--routes__map__controls__destination {
  font-size: 0.75rem;
  margin: 0;
  padding: 0.75rem;
  border: none;
  display: block;
  width: 40%;
  float: left;
  outline: 0;
}

/* line 209, ../sass/style.sass */
.content__block--routes__map__controls__search {
  font-size: 0.75rem;
  margin: 0;
  padding: 0.75rem;
  border: 0;
  display: block;
  width: 20%;
  float: right;
  outline: 0;
  background-color: #245be7;
  color: #fff;
  text-align: center;
  transition: all 0.1s ease;
}
/* line 222, ../sass/style.sass */
.content__block--routes__map__controls__search:hover {
  background-color: #4297ff;
}

/* line 225, ../sass/style.sass */
.content__block--routes__map__jumpin {
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  border-radius: 3px;
  z-index: 20;
}
/* line 232, ../sass/style.sass */
.content__block--routes__map__jumpin .main-action--wrapper {
  text-align: center;
}
/* line 234, ../sass/style.sass */
.content__block--routes__map__jumpin .main-action {
  display: inline-block;
  padding: 0.8rem 1.6rem;
  border-radius: 4rem;
  background-color: #c2d33c;
  color: #fff;
  text-decoration: none;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}
/* line 243, ../sass/style.sass */
.content__block--routes__map__jumpin .main-action:hover {
  text-decoration: none;
  transform: scale(1.04, 1.04);
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
  background-color: #c2d33c;
  color: #fff;
}

/* line 250, ../sass/style.sass */
.content__block--routes__map__modal {
  position: absolute;
  z-index: 20;
  bottom: 1rem;
  left: 0;
  right: 0;
  text-align: center;
}
/* line 257, ../sass/style.sass */
.content__block--routes__map__modal .modal-wrapper {
  display: inline-block;
  color: #fff;
  padding: 1rem 1.2rem;
  border-radius: 3px;
}
/* line 263, ../sass/style.sass */
.content__block--routes__map__modal .title {
  font-size: 0.7rem;
  font-weight: 500;
  margin: 0;
}
/* line 267, ../sass/style.sass */
.content__block--routes__map__modal p {
  font-size: 0.7rem;
  margin: 0;
}

/* line 271, ../sass/style.sass */
.content__block--routes__map__view {
  height: 75vh;
}

/* line 276, ../sass/style.sass */
.content__block--benefits {
  padding: 2rem 0 0 0;
}

/* line 280, ../sass/style.sass */
.content__block--conversion {
  padding: 2rem 0 0 0;
  text-align: center;
}
/* line 283, ../sass/style.sass */
.content__block--conversion .main-action {
  display: inline-block;
  margin: 1rem auto 0 auto;
  padding: 0.8rem 1.6rem;
  border-radius: 4rem;
  background-color: #c2d33c;
  color: #fff;
  text-decoration: none;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}
/* line 293, ../sass/style.sass */
.content__block--conversion .main-action:hover {
  text-decoration: none;
  transform: scale(1.04, 1.04);
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  color: #16121f;
  background-color: #c2d33c;
  color: #fff;
}

@media screen and (min-width: 992px) {
  /* line 304, ../sass/style.sass */
  .content__block__super {
    width: 75%;
    margin: 0 auto;
  }
}
/* line 308, ../sass/style.sass */
.content__block__super h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 0.75rem;
  color: #b3b3b3;
  margin-bottom: 0rem;
}
/* line 316, ../sass/style.sass */
.content__block__super h3 {
  color: #245be7;
  font-weight: 100;
  text-align: center;
  font-size: 1.75rem;
  font-family: "Ubuntu", helvetica, arial, sans-serif;
  margin-bottom: 1rem;
}
/* line 323, ../sass/style.sass */
.content__block__super p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 100;
  margin-bottom: 0;
}

/* line 329, ../sass/style.sass */
.footer {
  background-color: #121125;
}
